.jumbotron{
  background-color: #FFFADD;
  min-height: 60vh;
}

.btn.btn-primary.btn-lg{
  background-color: #22668D;
  border-color: #22668D;
  color: #8ECDDD;
}

.btn.btn-primary.btn-lg:hover{
  opacity: 90%;
}
