
.formButton{
  margin-top: 1rem;
  background-color: #22668D;
  border-color: #22668D;
  color: #8ECDDD;
}

.formButton:hover{
  background-color: #22668D;
  color: #8ECDDD;
  opacity: 90%;
}

.solarform{
  background-color: #FFFADD;
  width: 15rem;
  margin-top: 3rem;
}


